<!DOCTYPE html>
<html>

<head>
    <title>Update Book</title>
    <style>
        form {
            margin-top: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="number"] {
            width: 200px;
            margin-bottom: 30px;
        }
        .flash-messages {
            color: red;
        }
    </style>
</head>

<body>
    <header>
        <h1>Update Book</h1>
    </header>
    <!-- Form to update a book -->
    <form action="/update_book/{{ book_id }}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ book.title }}" required>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{ book.author }}" required>

        <label for="publication_year">Publication Year:</label>
        <input type="number" id="publication_year" name="publication_year" value="{{ book.publication_year }}"
               min="-2000" max="2024" required>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="{{ book.genre }}" required>

        <label for="count">Number of Copies:</label>
        <input type="number" id="count" name="count" value="{{ book.count }}" min="0" max="999" required>

        <button type="submit">Update Book</button>
    </form>
    <!-- delete book -->
    <form action="/delete_book/{{ book_id }}" method="post"
          onsubmit="return confirm('Are you sure you want to delete this book?');">
        <button type="submit">Delete Book</button>
    </form>
    <br><br>
    <!-- Link to go back to the library list -->
    <p><a href="/">Back to Library</a></p>
</body>

</html>